:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --text-color: #fff;
  --background-color: rgba(22, 20, 63, 1);
  --yellow-color: rgba(240, 209, 53, 1);
  --green-color: rgba(39, 200, 64, 1);
  --button-text-color: #000;
  --hand-border-color: rgba(240, 209, 53, 1);
  --card-border-color: rgba(225, 176, 97, 1);

  /*size */
  --text-normal: 16px;
  --text-lg: 24px;

  --footer-gradient: linear-gradient(180deg, rgba(22, 20, 63, 1) 0%, rgba(22, 20, 63, 0.8) 100%);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  /*background: var(--background-color);*/
  line-height: 1.6;
  font-family: Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('background-shape.svg'), url("background.svg");
  background-size: cover;
  background-position: center;

  font-size: var(--text-normal);
}

.masked-video {
  display: inline-block;

  -webkit-mask-image: url('./hand.svg');


  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}





