:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --text-color: #fff;
  --background-color: rgba(22, 20, 63, 1);
  --yellow-color: rgba(240, 209, 53, 1);
  --green-color: rgba(39, 200, 64, 1);
  --button-text-color: #000;
  --hand-border-color: rgba(240, 209, 53, 1);
  --card-border-color: rgba(225, 176, 97, 1);

  /*size */
  --text-normal: 24px;
  --text-lg: 32px;
  --text-sm: 16px;

  --footer-gradient: linear-gradient(180deg, transparent 0%, rgba(39, 6, 96, .5) 50%, rgba(39, 6, 96, 1) 100%);

  --bg-galaxy: url("background/star-galaxy.svg");
}

@media screen and (max-width: 1024px) {
  :root {
    --text-normal: 14px;
    --text-lg: 16px;
    --text-sm: 12px;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

/* Hide scrollbar but still allow scrolling */

/* Chrome, Edge, Safari */

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Firefox */

* {
  scrollbar-width: none;
}

/* IE / Edge legacy */

* {
  -ms-overflow-style: none;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  /*background: var(--background-color);*/
  line-height: 1.6;
  font-family: Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("background/shape.svg"), url("background/background.svg");

  background-size: cover,
  cover;

  background-repeat: no-repeat,
  no-repeat;

  background-position: center,
  center;

  font-size: var(--text-normal);
}


.masked-video {
  display: inline-block;

  -webkit-mask-image: url('hand/hand.svg');


  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}



